<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
    <div id="br4" style="padding-bottom: 30px; background-color: white">
        <h1 style="padding-left: 450px; background-color: white; padding-top: 100px;">Welcome to eMobilis Technology Training Institute<br></h1>
            <h3 style="padding-left: 550px; background-color: white">WE HAVE TRAINED THE BEST AND FOR COMPANIES LIKE</h3><br>
        </div>
    <div id="br5" style="padding-left: 350px; margin-bottom: 70px; background-color: white; padding-bottom: 200px">
        <img src="google%20logo.png" style="width: 200px; height: 100px; padding-right: 100px; background-color: white">
        <img src="safaricomlogo.jpeg" style="width: 200px; height: 100px; padding-right: 100px; background-color: white">
        <img src="microsoft%20logo.png" style="width: 200px; height: 100px; padding-right: 100px; background-color: white">
        <img src="wierd%20emobilis%20logo.jpg" style="width: 200px; height: 100px;padding-right: 100px; background-color: white">
    </div>
    <div id="br6">
        <h1 style="margin-left: 350px">
            PopularCourses
        </h1>
        <form>
            <table>
                <tr>
                    <td>
                        <div style="">
                        <img src="android%20logo.png" style="width : 250px; height: 270px"><br>
                        <h3 style="padding: 5px"><b>Android</b></h3><br>
                        At eMobilis training school, you<br>
                        will learn how to develop apps for<br>
                        Android devices. The course is <br>
                        designed to take you from a<br>
                        novice android programmer to an <br>
                        expert with hard work and <br>
                        dedication.<br>
                        <input type="button" name="save" value="learn more" style="background-color: limegreen">
                        </div>
                    </td>
                    <td>
                        <div style="padding-left: 100px; height: 500px">
                        <img src="fullstack%20logo.png" style="height: 200px; width: 250px"><br>
                        <h3><b>Full Stack</b></h3><br>
                        At eMobilis, we offer a Full Stack<br>
                        Development course that equips<br>
                        learners with the knowledge and <br>
                        skills to develop robust web and<br>
                        mobile applications. Through the <br>
                        course, you will gain proficiency in <br>
                        developing and deploying fully <br>
                        functional web and mobile<br>
                        applications.<br>
                        <input type="button" name="safe" value="learn more" style="background-color: limegreen">
                            </div>
                    </td>
                    <td>
                        <div style="padding-left: 100px;height: 500px">
                        <img src="python.png" style="width: 250px; height: 200px; background-color: white"><br>
                        <h3><b>Python</b></h3><br>
                        eMobilis Python development<br>
                        training course is designed to <br>
                        equip learners with the skills and<br>
                        knowledge necessary to develop <br>
                        Python-based applications and<br>
                        websites. Learners will be able to<br>
                        develop a wide range of outputs,<br>
                        including web applications,<br>
                        games, and automation scripts.<br>
                        <input type="button" name="cave" value="learn more" style="background-color: limegreen">
                        </div>
                    </td>
                    <td>
                        <div style="padding-left: 100px">
                        <img src="data%20science%20logo.png" style="height: 200px; width: 250px"><br>
                        <h3><b>Data Science</b></h3><br>
                        eMobilis’ Data Science course is <br>
                        designed to equip learners with<br>
                        the necessary skills to extract<br>
                        insights and knowledge from <br>
                        structured and unstructured data.<br>
                        The course covers the <br>
                        fundamentals of statistics, data<br>
                        analysis, machine learning, and<br>
                        data visualisation.<br>
                        <input type="button" name="fave" value="learn more" style="background-color: limegreen">
                        </div>
                    </td>
                </tr>
            </table>
        </form><br>
    </div><br>
<br>
    <div>
        <p>
        <img src="moving%20picture.png" style="margin-top: 700px">
        </p>
    </div>
</body>
    <div style="background-image: url('networklinks.jpg')">
        <form>
            <table style="padding-left: 300px; padding-right: 300px; padding-top: 50px; padding-bottom: 300px">
                <tr>
                    <td>
                        <h3>
                            Get In Touch
                        </h3>
                        <p>
                            join our mailing list and get up to date with latest<br>
                            on news, scholarships and free bootcamps.<br>
                            <input type="email" name="email" value="enter emeil" style="background-color: white; border-radius: 20px">
                            <input type="submit" name="subscribe button" value="subscribe" style="background-color: red; border-radius: 15px">
                        </p>
                    </td>
                    <td>
                        <h3>
                            Resources and Info
                        </h3>
                            About Us<br>
                                <br>
                            Google Hustle Academy <br>
                                <br>
                            Boot Camps <br>
                                 <br>
                            News and Updates<br>
                                  <br>
                            FAQ <br>
                                 <br>
                            Scholarships<br>
                                 <br>
                        <p style="padding-left: 10px; font-size: 10px">
                            Copyright © 2024 eMobilis Technology Training Institute. All rights reserved.
                        </p>
                    </td>
                    <td>
                        <h3>Support</h3>
                                     <br>
                                 0716608066</li><br>
                                         <br>
                                 0732608066</li><br>
                                         <br>
                                info@emobilis.org</li><br>
                                             <br>
                                 Kipro Center, Sports Road, Westlands, Near Delta,<br>
                                    Nairobi<br>
                    </td>

                </tr>
            </table>
        </form>
    </div>


















