{% extends 'base.html' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% block content %}
<div class="container-fluid bg-dark text-white">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h2 class="text-center mb-4">login</h2>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
<br>

                <footer class="container-fluid bg-dark text-white py-4 ">
        {% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>About Our School Program</h5>
                   <h3>
                             Get In Touch
                        </h3>
                        <p>
                            join our mailing list and get up to date with latest<br>
                            on news, scholarships and free bootcamps.<br>
                            <input type="email" name="email" value="enter emeil" style="background-color: white; border-radius: 20px">
                            <input type="submit" name="subscribe button" value="subscribe" style="background-color: red; border-radius: 15px">
                        </p>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li>Address: 123 School St, City, State</li>
                    <li>Email: info@schoolprogram.com</li>
                    <li>Phone: 123-456-7890</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><br>
                <p style="margin-top: 30px">&copy; 2024 School Program. All Rights Reserved.</p>
            </div>
        </div>
    </div>
        {% endblock %}
        </footer>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
