{% extends 'base.html' %}
{% block content %}
    <p><h1 style="color: #4ac1f7">This is my first template in django</h1>
While  it  is  true  a  narrative  is  a  story,  there  is  more  in  the  telling  of  the  story.  The
narrative, or story, needs to make the reader feel involved, teach a lesson, help get an
idea across, or feel emotionally about it. The narrative needs to explain who is in the
story, tell what is happening, and when it happened. The topic sentence needs to be
clear so the readers know they are going to learn something from the story. The story
itself is written in time, or chronological

{% endblock %}